{% extends "crud::page" %}

{% block head %}
    <style>
        .wizard-big.wizard > .content {
            min-height: 700px;
        }
    </style>
{% endblock %}

{% block content %}
    {% if not alert %}
          <div class="col col-lg-6">

              {% set tables = wizard.getTables(1) %}
              {#{% if not tables|length %}#}
                  {#<div class="alert alert-danger" role="alert">No tables found. Define database structure first.</div>#}
              {#{%  else %}#}
                {% if  not wizard.modelsDefined() %}
                 <h2>Step 1. Name the Models.</h2>
                <form method="post">
                    <input type="hidden" name="_token" value="{{ csrf_token() }}"/>
                    {%  else %}
                        <h2>Step 2. Configure each Models.</h2>
                {% endif %}

                    <table class="table">
                        <tr>
                            <th width="150">Table</th>
                            <th>Model name</th>
                            <th width="0">Actions</th>
                        </tr>
                        {% set pivot_tables = wizard.getAllPivotTables() %}
                        {% for table in tables %}
                            {% if table not in pivot_tables %}
                                <tr>

                                    <td>{{ table }}</td>
                                    <td>

                                        {% if wizard.modelsDefined() %}
                                        <form action="{{ route('wizard_model', table) }}" id="form_{{ table }}" method="get">
                                            {% if wizard.getModelConfig(table) %}
                                                <input type="text" class="form-control" name="models[{{ table }}]"
                                                       value="{{ wizard.getModelConfig(table).name }}" disabled/>
                                            {% else %}
                                                <input type="text" class="form-control" name="model"
                                                       placeholder="Enter model name * " value="{{  studly_case(table) }}"  required/>
                                            {% endif %}
                                        </form>
                                        {% else %}
                                        <div class="input-group" style="width: 250px" >
                                            <input type="text" class="form-control" placeholder="{{ studly_case(table) }}" id="models_{{ table }}" name="models[{{ table }}]"/>
                                            <div class="input-group-addon"><a href="#" class="text-success" onclick="$('#models_{{ table }}').val($('#models_{{ table }}').attr('placeholder'))"  title="Name as '{{ studly_case(table) }}' " ><i class="fa fa-thumbs-up"></i></a></div>
                                        </div>
                                        {% endif %}

                                    </td>
                                    <td>
                                        {% if wizard.getModelConfig(table) %}
                                            <a class="btn btn-success"
                                               href="{{ route('wizard_model', table) }}">Edit </a>
                                        {% else %}
                                            {% if  wizard.modelsDefined() %}
                                            <input type="submit" form="form_{{ table }}" class="btn btn-primary" value="Create model and edit"/>
                                            {% endif %}
                                        {% endif %}
                                    </td>

                                </tr>
                          {% endif %}
                        {% endfor %}
                    </table>
                    {% if not wizard.modelsDefined() %}
                            <input type="submit" class="btn btn-success" value="Save">
                    {% endif %}
                    {% if  not wizard.modelsDefined() %}
                </form>
              <br /><br />

                    <table class="table table-striped">
                    <tr class="info">
                        <td width="150"><h3 class="text-info">Add new table</h3></td>
                        <td valign="middle" style="padding-top: 15px;">
                            <form method="post" id="new_table" action="{{ route('wizard_migrate_create') }}">
                                <input type="hidden" name="_token" value="{{ csrf_token() }}"/>
                                <input type="text" class="form-control" placeholder="table_name"  name="table_name" required/>
                            </form>
                        </td>
                        <td width="200" valign="middle" style="padding-top: 15px;">
                            <input type="submit" form="new_table" class="btn btn-danger" value="Create"/>
                        </td>
                    </tr>
                    </table>

                {% endif %}
            </div>
    {#{% endif %}#}
    {% else %}

        <div class="alert alert-danger" role="alert">{{ alert }}</div>
    {% endif %}
{% endblock %}

{% block bc %}
    <h1>Define models</h1>
{% endblock %}