{% extends "crud::page" %}

{% block head %}
    <link href="{{ 'css/plugins/steps/jquery.steps.css'|asset }}" rel="stylesheet">
    <style>
        .wizard-big.wizard > .content {
            min-height: 700px;
        }
    </style>
{% endblock %}

{% block content %}
    {% if not alert %}
          <div class="col col-lg-6">
                <h1>Define models</h1>
              {% set tables = wizard.getTables(1) %}
              {% if not tables|length %}
                  <div class="alert alert-danger" role="alert">No tables found. Define database structure first.</div>
              {%  else %}
                {% if  not wizard.modelsDefined() %}
                 <h2>Step 1. Name the Models.</h2>
                <form method="post">
                    <input type="hidden" name="_token" value="{{ csrf_token() }}"/>
                    {%  else %}
                        <h2>Step 2. Configure each Models.</h2>
                {% endif %}

                    <table class="table table-striped">
                        <tr>
                            <th>Table</th>
                            <th>Model name</th>
                            <th width="100">Actions</th>
                        </tr>
                        {% for table in tables %}
                                <tr>

                                    <td>{{ table }}</td>
                                    <td>

                                        {% if wizard.modelsDefined() %}
                                        <form action="{{ route('wizard_model', table) }}" id="form_{{ table }}" method="get">
                                            {% if wizard.getModelConfig(table) %}
                                                <input type="text" class="form-control" name="models[{{ table }}]"
                                                       value="{{ wizard.getModelConfig(table).name }}" disabled/>
                                            {% else %}
                                                <input type="text" class="form-control" name="model"
                                                       placeholder="Enter model name * "  required/>
                                            {% endif %}
                                        </form>
                                        {% else %}
                                        <div class="input-group" style="width: 250px" >
                                            <input type="text" class="form-control" placeholder="{{ studly_case(table) }}" id="models_{{ table }}" name="models[{{ table }}]"/>
                                            <div class="input-group-addon"><a href="#" class="text-success" onclick="$('#models_{{ table }}').val($('#models_{{ table }}').attr('placeholder'))"  title="Name as '{{ studly_case(table) }}' " ><i class="fa fa-thumbs-up"></i></a></div>
                                        </div>
                                        {% endif %}

                                    </td>
                                    <td>
                                        {% if wizard.getModelConfig(table) %}
                                            <a class="btn btn-success"
                                               href="{{ route('wizard_model', table) }}">Edit </a>
                                        {% else %}
                                            {% if  wizard.modelsDefined() %}
                                            <input type="submit" form="form_{{ table }}" class="btn btn-primary" value="Create model and edit"/>
                                            {% endif %}
                                        {% endif %}
                                    </td>

                                </tr>

                        {% endfor %}
                    </table>
                    {% if not wizard.modelsDefined() %}
                        <div class="row">
                        <input type="submit" class="btn btn-success" value="Save">
                        </div>
                    {% endif %}
                    {% if  not wizard.modelsDefined() %}
                </form>
                {% endif %}
            </div>
    {% endif %}
    {% else %}

        <div class="alert alert-danger" role="alert">{{ alert }}</div>
    {% endif %}
{% endblock %}

{% block bc %}
    <div class="navbar-header">
        <button type="button" class="navbar-expand-toggle">
            <i class="fa fa-bars icon"></i>
        </button>
        <ol class="breadcrumb navbar-breadcrumb">
            <li class="active">Models index</li>
        </ol>
        <button type="button" class="navbar-right-expand-toggle pull-right visible-xs">
            <i class="fa fa-th icon"></i>
        </button>
    </div>
{% endblock %}