{% set NO_MENU=1 %}
{% extends "crud::empty_page" %}

{% block head %}
    <link href="{{ 'css/plugins/steps/jquery.steps.css'|asset }}" rel="stylesheet">
    <style>
        .wizard-big.wizard > .content {
            min-height: 700px;
        }
    </style>
{% endblock %}

{% block content %}
    <div style="padding: 20px;">
    <div class="row wrapper border-bottom white-bg page-heading"  style="margin-bottom: 20px">
        <div class="col-lg-10">
            <ol class="breadcrumb">
                <li class="active">
                    <strong>Index</strong>
                </li>
            </ol>
        </div>
    </div>


    <div class="col col-lg-6">
    <form  method="post">
        <input type="hidden" name="_token" value="{{ csrf_token() }}"/>
    <table class="table table-striped">
        <tr>
            <th >Table</th>
            <th >Model name</th>
            <th width="100">Actions</th>
        </tr>
        {% for table in wizard.getTables() %}
            <tr>
                <td>{{ table }}</td>
                <td>
                    {%  if wizard.modelsDefined() %}
                    <input type="text" name="models[{{ table }}]" value="{{ wizard.getModelConfig(table).name }}" disabled />
                    {% else  %}
                        <input type="text" name="models[{{ table }}]"  />
                    {% endif %}
                        </td>
                <td>{%  if wizard.getModelConfig(table) %}
                    <a class="btn btn-primary" href="{{ route('wizard_model', table) }}">Edit</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
    {%  if not wizard.modelsDefined() %}
        <input type="submit" class="btn btn-success" value="Save">
    {% endif %}
    </form>
    </div>
</div>
{% endblock %}