{% if list.getParam('buttons.mass_delete') %}
    {% if (not list.model.confParam('acl')) or list.model.confParam('acl')|allowed('d') %}
        <a href="#" class="btn btn-danger crud_delete" disabled data-click="crud_action" data-action="table_mass_delete" data-ref="{{ list.ref_id }}">{{ trans('crud::messages.delete_selected') }}</a>
    {% endif %}
{% endif %}

{% set mass_actions = list.getParam('list_mass_actions') %}
{%  if mass_actions %}
{%  for a in mass_actions %}
    <a
        disabled="disabled"
        class="crud_table_command {{ a.btn_class }}"
        data-confirm="{{ a.confirm }}"
        href="{{ a.href }}"
        data-mass_action="1"
        data-title="{{ a.title }}"
        data-model="{{ list.modelClass }}"
        data-scope="{{ list.scope }}"
        data-click="{{ a.click }}"
        data-action="{{ a.action }}"
        data-popup="{{ a.popup_id }}"
        data-event="{{ a.event }}"
    ><i class="{{ a.class }}"></i> {{ a.title }}</a>

{% endfor %}
{% endif %}




