<div class="pull-right">
    {% if crudObj.config.getList('buttons.customize_columns') %}
        <a href="#" title="{{ trans('crud::messages.configure_cols') }}" data-click="crud_action" data-action="open_popup" data-popup="crud_table_columns" data-uri="{{ route('crud_table_columns') }}" data-model="{{ crudObj.model_name }}" data-context="{{ crudObj.config.context }}"><i class="fa fa-gear"></i></a>&nbsp;
    {% endif %}
    <a href="#" title="{{ trans('crud::messages.refresh_list') }}" data-click="crud_action" data-action="refresh_table" data-ref="{{ crudObj.classViewName }}_{{ crudObj.config.scope }}"><i class="fa fa-refresh"></i></a>
</div>
