<div data-list_table_ref="{{ crudObj.classViewName }}_{{ crudObj.config.scope }}" data-crud_tree="{{ crudObj.classViewName }}" data-crud_scope="{{ crudObj.config.scope }}" data-btn_edit="{{ crudObj.config.list.buttons.single_edit }}" data-btn_delete="{{ crudObj.config.list.buttons.single_delete }}" data-form_type="{{ crudObj.config.list.edit_tab?'tabs':'popup' }}" data-tree_pid_column="{{ crudObj.getColumnTreePid() }}" >
</div>
