{% set COL_WIDTH=12 %}
<form action="{{ route('crud_update',{'model':crudObj.classViewName,'id':id}) }}" method="post" enctype="multipart/form-data" role="form"  data-crud_scope="{{ crudObj.scope }}" data-crud_model="{{ crudObj.classViewName }}" data-crud_id="{{ id }}" data-rel="{{ crudObj.view_ref }}">
    <input type="hidden" id="tree_action" name="tree_action" value=""/>
    <input type="hidden" name="_token" value="{{ csrf_token() }}"/>
    <ul class="nav nav-tabs">
        {% set active=0 %}
        {% for tab_id,tab_info in crudObj.confParam('tabs') %}
            {% if tab_info.acl|allowed('r') %}
                <li class="{{ active == 0 ? 'active' }}"><a href="#{{ tab_id }}" data-toggle="tab">{{ tab_info.title }}</a></li>
                {% set active = 1 %}
            {% endif %}
        {% endfor %}
    </ul>
    <div class="tab-content">
        {% set active = 0 %}
        {% for tab_id,tab_info in crudObj.confParam('tabs') %}
            {% if tab_info.acl|allowed('r') %}
                <div class="tab-pane {{ active == 0 ? 'active' }}" id="{{ tab_id }}">
                    <fieldset style="padding-bottom: 20px; padding-top: 20px;">
                        {% for input in  crudObj.getForm().fields %}
                            {% if input.config.tab == tab_id %}
                                {% if input.config.type=='checkbox' %}
                                    {% include 'crud::crud/fields/line_wrap_compact.twig' %}
                                {% else %}
                                    {% include 'crud::crud/fields/line_wrap.twig' %}
                                {% endif %}
                                {#
                                {% include 'crud::crud/fields/line_wrap.twig' %}
                                #}
                            {% endif %}
                        {% endfor %}
                    </fieldset>
                </div>
                {% set active = 1 %}
            {% endif %}
        {% endfor %}
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-click="crud_event" data-event="crud.cancel_edit" data-rel="{{ crudObj.view_ref }}">{{ trans('crud::messages.cancel') }}</button>
        {% if crudObj.confParam('acl')|allowed('u') %}
            <button class="btn btn-success" type="submit" data-close="1">{{ trans('crud::messages.save_close') }}</button>
            <button class="btn btn-primary" type="submit" data-close="0">{{ trans('crud::messages.save') }}</button>
        {% endif %}
        {% include 'crud::blocks/progress_bar.twig' %}
    </div>

</form>