<style>
    a[name] {
        width: 12px;
        line-height: 6px;
        overflow: hidden;
        padding-left: 12px;
        background-image: url('/images/anchor_symbol.gif');
        background-position: bottom;
        background-repeat: no-repeat;
    }
</style>
{% set COL_WIDTH=12 %}
<form action="{{ route('crud_update',{'model':crudObj.classViewName,'id':id}) }}" method="post" enctype="multipart/form-data" role="form"  data-crud_scope="{{ crudObj.scope }}" data-crud_model="{{ crudObj.classViewName }}" data-crud_id="{{ id }}" data-rel="{{ crudObj.view_ref }}">
    <input type="hidden" id="tree_action" name="tree_action" value=""/>
    <input type="hidden" name="scope" value="{{ crudObj.scope }}"/>
    <input type="hidden" name="_token" value="{{ csrf_token() }}"/>
    {% for f in crudObj.getHiddenFields() %}
        <input type="hidden" name="{{ f }}" value="{{ crudObj.getAttribute(f) }}" />
    {% endfor %}
    <div class="pull-left"  style="width:80%">
    <ul class="nav nav-tabs">
        {% set active=0 %}
        {% for tab_id,tab_info in crudForm.tabs %}
            {% if tab_info.acl|allowed('r') %}
                <li class="{{ active == 0 ? 'active' }}"><a href="#{{ crudObj.getKey() }}_{{ tab_id }}" data-toggle="tab" data-ref="{{ tab_id }}">{{ tab_info.title }}</a></li>
                {% set active = 1 %}
            {% endif %}
        {% endfor %}
    </ul>
    </div>
    <div class="pull-right">
        {% if crudObj.confParam('acl')|allowed('u') %}
            <div class="btn-group">
                <button class="btn btn-success" type="submit" data-close="0"> <i class="fa fa-save"></i> {{ trans('crud::messages.save') }}</button>
                <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-menu btn-actions" style="padding: 0px;">
                    <div class="btn-group-vertical">
                        <button class="btn btn-primary" type="submit" data-close="1"> <i class="fa fa-save"></i> {{ trans('crud::messages.save_close') }}</button>
                    </div>
                </div>
            </div>
        {% endif %}
        <button type="button" class="btn btn-default" data-click="crud_event" data-event="crud.cancel_edit" data-rel="{{ crudObj.view_ref }}"><i class="fa fa-sign-out"></i> {{ trans('crud::messages.cancel') }}</button>
    </div>
<br clear="all" />
    <div class="tab-content">
        {% set active = 0 %}
        {% for tab_id,tab_info in crudForm.tabs %}
            {% if tab_info.acl|allowed('r') %}
                <div class="tab-pane {{ active == 0 ? 'active' }}" id="{{ crudObj.getKey() }}_{{ tab_id }}">
                    {% if tab_info.view %}
                        {% include tab_info.view %}
                    {% endif %}
                    <fieldset style="padding-bottom: 20px; padding-top: 20px;">
                        {% for input in  crudForm.fields %}
                            {% if input.config.tab == tab_id %}
                                    {% include 'crud::crud/fields/line_wrap.twig' %}
                            {% endif %}
                        {% endfor %}
                    </fieldset>
                </div>
                {% set active = 1 %}
            {% endif %}
        {% endfor %}
    </div>

    {%  include 'crud::crud/form_buttons.twig' %}

</form>