{% macro recursiveRow(row) %}

    <tr class="treegrid-{{ row.id }} {% if row.tree_pid>0 %} draggable treegrid-parent-{{ row.tree_pid }}{% endif %}" {% if row.tree_pid>0 %}data-id="{{ row.id }}" data-pid="{{ row.tree_pid }}" {% endif %}>
        <td width="30">{% if row.tree_pid>0 %}<input type="checkbox" class="i-checks" data-rel="row" value="{{ row.id }}" /> {% endif %}</td>
        <td valign="middle" width="80%">{{ row.title }}</td>
        <td>
        {% if row.tree_pid>0 %}
        <button class="btn btn-primary btn-sm crud_edit" data-id="{{ row.id }}">Редактировать</button>
        {% endif %}
        </td>
        <td valign="middle">
            {% if row.tree_pid>0 %}<a href="{{ row.link }}" target="_blank">{{ row.link }}</a>{% endif %}
        </td>
    </tr>



     {% if row.kids|length %}
        {% for child in row.kids %}
            {{ _self.recursiveRow(child) }}
        {% endfor %}
     {% endif %}
{% endmacro %}


{% for row in collection %}
    {{ _self.recursiveRow(row) }}

{% endfor %}