{% macro table(crudObj, scope) %}
    {% if scope %}
        {{ crudObj.config.setScope(scope) }}
    {% endif %}

    {%  if  crudObj.config.list.edit_tab %}
        <div class="tabs-container" data-tabs_container="{{ crudObj.classViewName }}" data-scope="{{ crudObj.config.scope }}">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#tab-{{ crudObj.classViewName }}_{{ crudObj.config.scope }}"> <i class="fa fa-list"></i></a></li>
                <li style="display: none" data-edit_tab_tpl="1"><div class="sk-spinner sk-spinner-pulse"></div><a style="display: none" data-toggle="tab"  href="#tab-{{ crudObj.classViewName }}_{{ crudObj.config.scope }}"> <i class="fa fa-edit"></i>[ID]&nbsp;&nbsp;&nbsp;<span class="text-danger" data-confirm="Закрыть?" data-click="crud_event" data-event="crud.cancel_edit" data-rel="[REL]" title="Закрыть" style="cursor:pointer"><i class="fa fa-times"></i></span></a></li>


            </ul>

            <div class="tab-content">
                <div id="tab-{{ crudObj.classViewName }}_{{ crudObj.config.scope }}" class="tab-pane active">
                    <div class="panel-body">
                        {% include "widgets/blocks/tbl_head.twig"|model_view(crudObj) %}
                        {% include "widgets/blocks/tbl_table.twig"|model_view(crudObj) %}
                        {% include "widgets/blocks/tbl_foot.twig"|model_view(crudObj) %}

                    </div>
                </div>


            </div>
        </div>
    {% else %}

        {% include "widgets/blocks/tbl_head.twig"|model_view(crudObj) %}
        {% include "widgets/blocks/tbl_table.twig"|model_view(crudObj) %}
        {% include "widgets/blocks/tbl_foot.twig"|model_view(crudObj) %}
    {% endif  %}
{% endmacro %}

{% macro filters(crudObj, scope) %}
    {% if crudObj.getFilterColumns() %}
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5 class="collapse-link"><i class="icon fa fa-filter"></i> Фильтрация списка</h5>

                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-down"></i>
                            </a>
                        </div>
                    </div>


                    <div class="ibox-content" style="display: none;">
                        <form id="crud_filter_form"  data-crud_model="{{ crudObj.classViewName }}" data-crud_scope="{{ crudObj.config.scope }}">
                            {% include "widgets/blocks/tbl_filter.twig"|model_view(crudObj) %}
                            <div class="modal-footer">
                                <button type="reset"  class="btn btn-default crud_reset_filter">Сбросить фильтр</button>
                                <button type="submit" class="btn btn-primary">Применить фильтр</button>
                                {% include 'crud::blocks/progress_bar.twig' %}
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    {% endif %}
{% endmacro %}

{% macro tree(crudObj, scope) %}
    {% if scope %}
        {{ crudObj.config.setScope(scope) }}
    {% endif %}

    {%  if  crudObj.config.list.edit_tab %}
        <div class="tabs-container" data-tabs_container="{{ crudObj.classViewName }}" data-scope="{{ crudObj.config.scope }}">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#tab-{{ crudObj.classViewName }}_{{ crudObj.config.scope }}"> <i class="fa fa-list"></i></a></li>
                <li style="display: none" data-edit_tab_tpl="1"><div class="sk-spinner sk-spinner-pulse"></div><a style="display: none" data-toggle="tab"  href="#tab-{{ crudObj.classViewName }}_{{ crudObj.config.scope }}"> <i class="fa fa-edit"></i>[ID]&nbsp;&nbsp;&nbsp;<span class="text-danger" data-confirm="Закрыть?" data-click="crud_event" data-event="crud.cancel_edit" data-rel="[REL]" title="Закрыть" style="cursor:pointer"><i class="fa fa-times"></i></span></a></li>


            </ul>

            <div class="tab-content">
                <div id="tab-{{ crudObj.classViewName }}_{{ crudObj.config.scope }}" class="tab-pane active">
                    <div class="panel-body">
                        {% include "widgets/blocks/tree.twig"|model_view(crudObj) %}
                    </div>
                </div>


            </div>
        </div>
    {% else %}
        {% include "widgets/blocks/tree.twig"|model_view(crudObj) %}
    {% endif  %}
{% endmacro %}