{% if list.getParam('list_type') == 'dt_flat' %}
<ol class="breadcrumb">
    {% for bc in list.model.breadcrumbs %}
        <li>
            {% if loop.last %}
                {{ bc.title }}
            {% else %}
                <a href="{{ bc.link }}">{{ bc.title }}</a>
            {% endif %}
        </li>
    {% endfor %}
</ol>
<input type="button" href="tree_reorder_rows" data-model="{{ list.modelClass }}" id="{{ list.ref_id }}_reorder_trigger" style="display: none;" data-click="crud_action" data-action="crud_command" />
{% endif %}


<table class="table table-striped table-bordered table-hover"
       data-list_url_params="{{ list.model.list_url_extra_params }}"
       data-list_table_ref="{{ list.ref_id }}"
       data-crud_table="{{ list.modelClass }}"
       data-crud_scope="{{ list.scope }}"
       data-crud_noedit="{{ not list.getParam('buttons.single_edit') }}"
       data-btn_edit="{{ list.getParam('buttons.single_edit') }}"
       data-btn_delete="{{ list.getParam('buttons.single_delete') }}"
       data-form_type="{{ list.getParam('edit_tab')?'tabs':'popup' }}"
       data-list_type="{{ list.getParam('list_type')?list.getParam('list_type'):'dt' }}"
       {% if list.getParam('list_type') == 'dt_flat' %}
       data-rows_draggable="{{ list.model.treeOrderColumn() }}"
       {% endif %}
       data-list_single_actions='{{ list.getParam('list_single_actions')|json_encode|raw }}'
       data-searchable="{{ list.getParam('searchable') }}"
       data-key_name="{{ list.model.getKeyName() }}"
       {{ list.model.isTree() or list.model.hasParent() ?('data-parent_id="'~list.model.treePidColumn()~'"')|raw }}

>
    <thead>
    {% for c in list.getColumns() %}
        {% if not c.invisible %}
        <th {{ c.width ? ('width="'~c.width~'px"')|raw }}
                data-list_ctype="{{ c.ctype }}"
                data-list_orderable="{{ c.orderable }}"
                data-list_data="{{ c.data }}"
                data-list_name="{{ c.name }}"
                {{ c.default_order ? ('data-default_order="'~c.default_order~'"')|raw }}>{{ c.title }} {% if c.hint %}{{ config_get('crud_tooltip.pattern')|replace({'%s': c.hint.index, '%t': c.hint.default})|raw }}{% endif %}</th>
        {% endif %}
    {% endfor %}
    </thead>
    <tfoot>
    </tfoot>


</table>
