<div class="modal-dialog  {% if crudObj.confParam('dialog_class') %} {{ crudObj.confParam('dialog_class') }} {% endif %}" {{ crudObj.confParam('dialog_width') ? ('style="width: '~crudObj.confParam('dialog_width')~'px;"')|raw }}>
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Данные {{ crudObj.confParam('ent_name_r') }}</h4>
        </div>

        <div class="modal-body" data-crud_model="{{ crudObj.classViewName }}" data-crud_id="{{ id }}">
            
        </div>
    </div>
    <script>
        {% if crudObj.getAttachOptions() %}
        var crudAttachOptions = {{ crudObj.getAttachOptions()|json_encode|raw }};
        {% endif %}
    </script>
</div>
