{% extends "crud::page.twig" %}
{% import "crud::widgets/macro.twig" as widgets%}
{%  set TITLE =crudList.getParam('title')  %}
{%  set PAGE_TITLE =crudList.getParam('title')  %}
{%  set DESCRIPTION =crudList.getParam('description')  %}

{% block content %}


{%  include 'crud::crud/list.twig' %}

{% endblock %}

{% block modals %}
{% endblock %}

{% block bc %}
    {#<ol class="breadcrumb">#}
        {#<li><a href="#">Home</a></li>#}
        {#<li>Basic</li>#}
    {#</ol>#}
    <h1>{{ TITLE }}
        {% if crudList.getParam('buttons.single_edit') %}
            {% if not crudList.getParam('noadd') %}
                <a  class="btn btn-success"  data-id='-1'  data-ref="{{ crudObj.classViewName }}_{{ crudObj.scope }}" data-click='crud_event' data-event='crud.edit_element' ><i class="fa fa-plus"></i> {{ trans('crud::messages.add') }} {{ crudObj.confParam('ent_name_v') }}</a>
            {% endif %}
        {% endif %}
    </h1>

{% endblock %}


{% block title_right  %}

{% endblock %}
