{% extends "crud::page.twig" %}

{%  set TITLE =crudObj.config.getList('title')  %}
{%  set DESCRIPTION =crudObj.config.getList('description')  %}

{% block content %}

    {{ widgets.filters(crudObj) }}


    <div class="row">
        <div class="col-lg-12">
            <div class="ibox-content">

                {%  if crudObj.isTree() %}
                    {{ widgets.tree(crudObj) }}
                {%  else  %}

                    {{ widgets.table(crudObj) }}

                {% endif %}

            </div>
        </div>
    </div>



{% endblock %}

{% block modals %}
{% endblock %}

{% block bc %}

    <div class="navbar-header">
        <button type="button" class="navbar-expand-toggle">
            <i class="fa fa-bars icon"></i>
        </button>
        <ol class="breadcrumb navbar-breadcrumb">
            {% for bc in crudObj.config.get('bc')%}
                <li>
                    <a href="{{ bc.href }}">{{ bc.title }}</a>
                </li>
            {% endfor %}
            <li class="active">{{ crudObj.config.getList('title') }}</li>
        </ol>
        <button type="button" class="navbar-right-expand-toggle pull-right visible-xs">
            <i class="fa fa-th icon"></i>
        </button>
    </div>
{% endblock %}


{% block title_right  %}
    <a  class="btn btn-success"  data-id='-1'  data-ref="{{ crudObj.classViewName }}_{{ crudObj.config.scope }}" data-click='crud_event' data-event='crud.edit_element' ><i class="fa fa-plus"></i> {{ trans('crud::messages.add') }} {{ crudObj.config.get('ent_name') }}</a>
{% endblock %}
