{% extends "crud::page.twig" %}

{% block head %}
    <link href="{{ 'css/plugins/dataTables/dataTables.bootstrap.css'|asset }}" rel="stylesheet">
{% endblock %}
{% block content %}

    {{ widgets.filters(crudObj) }}


    <div class="row">
        <div class="col-lg-12">
            <div class="ibox-content">
                {{ widgets.table(crudObj) }}
            </div>
        </div>
    </div>



{% endblock %}

{% block modals %}
{% endblock %}

{% block bc %}
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>{{ crudObj.config.getList('title') }}</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="/admin">В начало</a>
                </li>
                {% for bc in crudObj.config.get('bc')%}
                    <li>
                        <a href="{{ bc.href }}">{{ bc.title }}</a>
                    </li>
                {% endfor %}
                <li class="active">
                    <strong>{{ crudObj.config.getList('title') }}</strong>
                </li>
            </ol>
        </div>
        <div class="col-lg-2" style="margin-top:20px;">
            <a  class="btn btn-primary pull-right"  data-id='-1'  data-ref="{{ crudObj.classViewName }}_{{ crudObj.config.scope }}" data-click='crud_event' data-event='crud.edit_element' >Добавить {{ crudObj.config.get('ent_name_v') }}</a>
        </div>
    </div>

{% endblock %}

