<!DOCTYPE html>
<html>
{% set PACKAGE= 'crud' %}
<head>
{% import "crud::widgets/macro.twig" as widgets%}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="csrf-token" content="{{ csrf_token() }}">
<link rel="icon" href="/favicon.ico">
<title>{{ PAGE_TITLE }}</title>
<link href="{{ 'css/bootstrap.min.css'|asset }}" rel="stylesheet">
<link href="{{ 'font-awesome/css/font-awesome.css'|asset }}" rel="stylesheet">
<link href="{{ 'css/plugins/iCheck/custom.css'|asset }}" rel="stylesheet">
<link href="{{ 'css/plugins/select2/select2.css'|asset }}" rel="stylesheet">
<link href="{{ 'css/plugins/select2/select2-bootstrap.css'|asset }}" rel="stylesheet">
<link href="{{ 'css/plugins/summernote/summernote.css'|asset }}" rel="stylesheet">
<link href="{{ 'css/plugins/summernote/summernote-bs3.css'|asset }}" rel="stylesheet">
<link href="{{ 'css/plugins/datapicker/datepicker3.css'|asset }}" rel="stylesheet">
<link href="{{ 'css/animate.css'|asset }}" rel="stylesheet">
<link href="{{ 'css/style.css'|asset }}" rel="stylesheet">
<link href="{{ 'css/crud.css'|asset }}" rel="stylesheet">
{% block head %}{% endblock %}

</head>

<body>

<div id="wrapper">

{% include "crud::blocks/left_nav.twig" %}

<div id="page-wrapper" class="gray-bg">
{% include "crud::blocks/top_bar.twig" %}
    {% block bc %}{% endblock %}


<div class="wrapper wrapper-content animated fadeInRight">
    {%block content%}{%endblock%}
</div>


</div>
</div>


</div>


<!-- Mainly scripts -->
<script src="{{ 'js/jquery-2.1.1.js'|asset }}" ></script>
<script src="{{ 'js/jquery-ui-1.10.4.min.js'|asset }}" ></script>
<script src="{{ 'js/bootstrap.min.js'|asset }}" ></script>
<script src="{{ 'js/plugins/metisMenu/jquery.metisMenu.js'|asset }}" ></script>
<script src="{{ 'js/plugins/slimscroll/jquery.slimscroll.min.js'|asset }}" ></script>


<!-- Custom and plugin javascript -->
<script src="{{ 'js/inspinia.js'|asset }}" ></script>
<script src="{{ 'js/plugins/pace/pace.min.js'|asset }}" ></script>

<!-- iCheck -->
<script src="{{ 'js/plugins/iCheck/icheck.min.js'|asset }}" ></script>
<!-- SELECT 2 -->
<script src="{{ 'js/plugins/select2/select2.js'|asset }}" ></script>
<script src="{{ 'js/plugins/select2/select2_locale_ru.js'|asset }}" ></script>
<script src="{{ 'js/plugins/summernote/summernote.js'|asset }}" ></script>
<script src="{{ 'js/plugins/datapicker/bootstrap-datepicker.js'|asset }}" ></script>
<script src="{{ 'js/plugins/datapicker/ru.js'|asset }}"  charset="UTF-8"></script>

<script src="{{ 'js/plugins/dataTables/jquery.dataTables.js'|asset }}"></script>
<script src="{{ 'js/plugins/dataTables/dataTables.bootstrap.js'|asset }}"></script>

<script src="{{ 'js/plugins/jsTree/jstree.min.js'|asset }}"></script>

<script src="{{ 'js/modules/crud.js'|asset }}"></script>
<script src="{{ 'js/widgets/table.js'|asset }}"></script>
<script src="{{ 'js/widgets/form.js'|asset }}"></script>
<script src="{{ 'js/widgets/tree.js'|asset }}"></script>
<script src="{{ 'js/plugins/ajaxform/jquery.form.js'|asset }}"></script>
<script src="{{ 'js/modules/tooltip.js'|asset }}"></script>
<script src="{{ 'js/modules/notify.js'|asset }}"></script>

<div id="crud_form" class="modal fade" aria-hidden="true">
</div>
{% if config_get('crut_tooltip.acl')|allowed %}
    {% include "crud::blocks/tooltip_edit.twig" %}
{% endif %}
{% include "crud::popup_dialog.twig" %}

{% block modals %}
{% endblock %}
</body>

</html>