{% set PACKAGE= 'crud' %}
{% import "crud::widgets/macro.twig" as widgets%}
<!DOCTYPE html>
<!--[if IE 9]><html lang="en-us" class="ie9"><![endif]-->
<!--[if gt IE 9]><!-->
<html lang="en-us">
<!--<![endif]-->
<head>
    <title>{{ config.app_title }}</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS App -->
    <link href="{{ 'css/vendor.min.css'|asset }}" rel="stylesheet">
    <link href="{{ 'css/crud.css'|asset }}" rel="stylesheet">

    {% block head %}{% endblock %}
</head>
{%  if session('error') %}
    <div class="toast-pf toast-pf-max-width toast-pf-top-right alert alert-warning alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
            <span class="pficon pficon-close"></span>
        </button>
        <span class="pficon pficon-warning-triangle-o"></span>
        {{ session('error')|raw }}
    </div>
{% endif %}
<body>
<nav class="navbar navbar-default navbar-pf" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse-1">
            <span class="sr-only">{{ trans('crud::messages.toggle_nav') }}</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">
            {{ config.app_title }}
        </a>
    </div>
    <div class="collapse navbar-collapse navbar-collapse-1">
        {% include "crud::blocks/top_bar.twig" %}
        {% include "crud::blocks/left_nav.twig" %}
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            {% block bc %}{% endblock %}
            {%block content%}{%endblock%}

        </div><!-- /col -->
    </div><!-- /row -->
</div><!-- /container -->


<!-- VENDOR LIBS AND PLUGINS -->
<script src="{{ 'js/vendor.min.js'|asset }}"></script>
<!-- LOCALIZATION -->
<script src="{{ 'js/modules/i18n.js'|asset }}"></script>
<script src="{{ ('js/i18n/vendor/'~ cmsHelper.getLocale() ~'.min.js')|asset }}" ></script>
<script>
    var CURRENT_LOCALE = "{{ cmsHelper.getLocale() }}";
</script>

<script type="text/javascript">
    {%  set messages_uri   = 'js/i18n/'~cmsHelper.getLocale()~'.json' %}
    window.i18n.init("{{ messages_uri|asset }}");
</script>

<!-- CRUD MODULES AND WIDGETS -->
<script src="{{ 'js/modules/crud.js'|asset }}"></script>
<script src="{{ 'js/widgets/table.js'|asset }}"></script>
<script src="{{ 'js/widgets/form.js'|asset }}"></script>
<script src="{{ 'js/widgets/tree.js'|asset }}"></script>
<script src="{{ 'js/modules/tooltip.js'|asset }}"></script>
{#<script src="{{ 'js/modules/notify.js'|asset }}"></script>#}

<!-- PAGE UTILITY -->
<script src="{{ 'js/app.js'|asset }}" ></script>

<div id="crud_form" class="modal fade" aria-hidden="true"> </div>
{% if config_get('crut_tooltip.acl')|allowed %}
    {% include "crud::blocks/tooltip_edit.twig" %}
{% endif %}

{% include "crud::popup_dialog.twig" %}

{% block modals %}
{% endblock %}

</body>
</html>
