
<div class="form-inline" id="tpl_f_{{ constant('\\Skvn\\Crud\\CrudConfig::FIELD_TEXT') }}" style="display: none" >

    <div class="form-group">
        <input type="text" class="form-control" name="fields[[_ALIAS_]][title]" placeholder="Title *" >
    </div>

    <div class="form-group">
        <div class="col col-xs-2">
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="fields[[_ALIAS_]][required]" > Required
                </label>
            </div>
        </div>
        <div class="col col-xs-6">
            <input type="text" class="form-control" name="fields[[_ALIAS_]][hint_default]" placeholder="Hint" >
        </div>
    </div>
</div>

<div class="form-inline" id="tpl_f_{{ constant('\\Skvn\\Crud\\CrudConfig::FIELD_TEXTAREA') }}" style="display: none" >

    <div class="form-group">
        <input type="text" class="form-control" name="fields[[_ALIAS_]][title]" placeholder="Title *" >
    </div>

    <div class="form-group">
        <div class="col col-xs-2">
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="fields[[_ALIAS_]][editor]" > WYSIWYG editor
                </label>
            </div>
        </div>
        <div class="col col-xs-2">
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="fields[[_ALIAS_]][required]" > Required
                </label>
            </div>
        </div>
        <div class="col col-xs-6">
            <input type="text" class="form-control" name="fields[[_ALIAS_]][hint_default]" placeholder="Hint" >
        </div>
    </div>

</div>

<div class="form-inline" id="tpl_f_{{ constant('\\Skvn\\Crud\\CrudConfig::FIELD_NUMBER') }}" style="display: none" >

    <div class="form-group">
        <input type="text" class="form-control" name="fields[[_ALIAS_]][title]" placeholder="Title *" >
    </div>


    <div class="form-group">
        <div class="col col-xs-2">
            <input type="text" class="form-control" name="fields[[_ALIAS_]][min]" placeholder="Min" size="3" >
        </div>
        <div class="col col-xs-2">
            <input type="text" class="form-control" name="fields[[_ALIAS_]][min]" placeholder="Max" size="3" >
        </div>
        <div class="col col-xs-2">
            <input type="text" class="form-control" name="fields[[_ALIAS_]][min]" placeholder="Step" size="3" >
        </div>
        <div class="col col-xs-2">
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="fields[[_ALIAS_]][required]" > Required
                </label>
            </div>
        </div>
    </div>

    <div class="form-group">
        <input type="text" class="form-control" name="fields[[_ALIAS_]][hint_default]" placeholder="Hint" >
    </div>

</div>


<div class="form-inline" id="tpl_f_{{ constant('\\Skvn\\Crud\\CrudConfig::FIELD_DATE') }}" style="display: none" >

    <div class="form-group">
        <input type="text" class="form-control" name="fields[[_ALIAS_]][title]" placeholder="Title *" >
    </div>


    <div class="form-group">
        <div class="col col-xs-1">
            Format:
        </div>
        <div class="col col-xs-2">
            <input type="text" class="form-control" name="fields[[_ALIAS_]][format]" placeholder="d.m.Y" >
        </div>
        <div class="col col-xs-2">
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="fields[[_ALIAS_]][required]" > Required
                </label>
            </div>
        </div>
        <div class="col col-xs-6">
            <input type="text" class="form-control" name="fields[[_ALIAS_]][hint_default]" placeholder="Hint" >
        </div>
    </div>
</div>

<div class="form-inline" id="tpl_f_{{ constant('\\Skvn\\Crud\\CrudConfig::FIELD_SELECT') }}" style="display: none" >

    {#
    <div class="form-group">
        <input type="text" class="form-control" name="fields[[_ALIAS_]][title]" placeholder="Title *" >
    </div>

    <div class="form-group">
        <label class="radio-inline">
            <input type="radio"  name="fields[[_ALIAS_]][is_relation]" checked onchange="$(this).parents('.form-inline').first().find('.rel_type_co').toggleClass('hide')" value="1"> It's a relation
        </label>
        <label class="radio-inline">
            <input type="radio"  onchange="$(this).parents('.form-inline').first().find('.rel_type_co').toggleClass('hide')"  name="fields[[_ALIAS_]][is_relation]" value="0"> It's just  preset options
        </label>
    </div>

    <span class="rel_type_co">
        <div class="form-group">
            <select class="choose_relation" name="fields[[_ALIAS_]][relation]">
                <option value="">Choose relation</option>
            </select>
        </div>
    </span>

    <span class="rel_type_co hide">
    <div class="form-group">
        <select class="choose_relation" name="fields[[_ALIAS_]][options_type]">
            <option value="model_options">Use model method as options provider</option>
            <option value="array_options">Use raw array</option>
        </select>
    </div>
    </span>

    <div class="checkbox">
        <label>
            <input type="checkbox" name="fields[[_ALIAS_]][required]" > Required
        </label>
    </div>
    #}
</div>

<div class="form-inline" id="tpl_f_{{ constant('\\Skvn\\Crud\\CrudConfig::FIELD_CHECKBOX') }}" style="display: none" >

    <div class="form-group">
        <input type="text" class="form-control" name="fields[[_ALIAS_]][title]" placeholder="Title *" >
    </div>

    <div class="form-group">
        <input type="text" class="form-control" name="fields[[_ALIAS_]][hint_default]" placeholder="Hint" >
    </div>
</div>
