<fieldset>
    <div class="panel panel-default">
        <div class="panel-body" >

            <h2 style="max-width: 250px; margin-top: 0px;"  data-toggle="tooltip" data-placement="right" title="A single file field should have an INTEGER database table column.  A single file field is a One2One relation with CrudFile model">Single file fields</h2>
            <table class="table table-bordered  table-striped" style="max-width: 600px" id="files_container">
                {% for f in wizard.getIntTableColumns(table) %}
                    {% if f != 'id' %}
                    {% set fld=model.fields[f] %}
                        <tr data-rel="{{ f }}">
                            <td style="width: 200px;"><b>{{ f }}</b></td>
                            <td style="width: 50px;">
                                     <input value="1" type="checkbox" name="single_files[{{ f }}][use]" {%  if  fld.type  and fld.type == 'file'%} checked {% endif %} data-toggle="collapse" data-target="#file_{{ f }}" >
                             </td>
                            <td><div  id="file_{{ f }}" {%  if not fld.type  or fld.type != 'file'%} class="collapse"{% endif %}>
                                    <input type="text" class="form-control" name="single_files[{{ f }}][title]" value="{{ fld.title }}" required placeholder="Title *" >
                                    <input type="text" class="form-control" name="single_files[{{ f }}][hint_default]" value="{{ fld.hint_default }}" placeholder="Hint" >
                                </div> </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </table>

            <h2 style="max-width: 250px; margin-top: 0px;"  data-toggle="tooltip" data-placement="right" title="One model entity can have many multiple file fields. A single multiple file field is a Many2Many relation with CrudFile model">Multiple file fields</h2>
            <div id="mfiles_container">

                {% for ALIAS, fld in model.fields %}
                    {%  if fld.type=='multi_file' %}
                        {%  include 'crud::wizard/blocks/fields/multi_file.twig' %}
                    {%  endif %}
                {% endfor %}

            </div>
            <div class="hr-line-dashed"></div>

            <a href="#" class="btn btn-success"  data-click="crud_action" data-action="clone_fragment" data-skip_arr="1" data-fragment="multi_files_row" data-container="mfiles_container" ><i class="fa fa-plus"></i> Add</a>


        </div>
    </div>
</fieldset>

<div id="multi_files_row" style="display: none;">
    {% set ALIAS = "_ALIAS_" %}
    {% set fld = null %}
{%  include 'crud::wizard/blocks/fields/multi_file.twig' %}
</div>