
<div class="form-inline" id="tpl_filter_{{ constant('\\Skvn\\Crud\\Form\\Field::TEXT') }}" style="display: none" >

    <div class="form-group">
        <input type="text" class="form-control" name="filters[_ALIAS_][_F_][title]" required placeholder="Title *" >
    </div>

</div>

<div class="form-inline" id="tpl_filter_{{ constant('\\Skvn\\Crud\\Form\\Field::RANGE') }}" style="display: none" >

    <div class="form-group">
        <input type="text" class="form-control" name="filters[_ALIAS_][_F_][title]" required placeholder="Title *" >
    </div>


</div>

<div class="form-inline" id="tpl_filter_{{ constant('\\Skvn\\Crud\\Form\\Field::DATE_RANGE') }}" style="display: none" >

    <div class="form-group">
        <input type="text" class="form-control" name="filters[_ALIAS_][_F_][title]" placeholder="Title *" >
    </div>


    <div class="form-group">
        <div class="col col-xs-1">
            Format:
        </div>
        <div class="col col-xs-4">
            <select class="form-control" name="filters[_ALIAS_][_F_][format]" required >
                <option value="">Date format</option>
                {%  for k,v in wizard.getAvailableDateFormats() %}
                    <option value="{{ k }}">{{ v.php }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
</div>

<div class="form-inline" id="tpl_filter_{{ constant('\\Skvn\\Crud\\Form\\Field::SELECT') }}" style="display: none" >

    <div class="col col-xs-6">
        <input type="text" class="form-control" name="filters[_ALIAS_][_F_][title]" placeholder="Title *" ><br />
    </div>
    <div class="col col-xs-6">
    <div class="form-group">
    <input type="text" class="form-control" data-attr="name" name="filters[_ALIAS_][_F_][method_options]" placeholder="Data provider method"  >
    <span id="helpBlock" class="help-block">The name of the model method that provides edit options. See documentation for the details.</span>
    </div>

   </div>

</div>

<div class="form-inline" id="tpl_filter_{{ constant('\\Skvn\\Crud\\Form\\Field::CHECKBOX') }}" style="display: none" >
    <div class="form-group">
        <input type="text" class="form-control" name="filters[_ALIAS_][_F_][title]" placeholder="Title *" >
    </div>
</div>
