{% import "crud::wizard/macro.twig" as wiz_macros%}
{%  if not list %}
<div id="list_tpl" style="display: none">
{% endif %}
    <div class="panel panel-default scope_container" data-scope="{{ ALIAS }}">
        <div class="panel-heading">
            <h3 class="panel-title">
                <button  data-click="crud_action"  data-parent=".panel" data-action="wizard_remove_parent" data-confirm="Remove this scope?" class="label btn-inverse label-danger pull-right">
                    <i class="fa fa-trash-o"></i> Remove</button>&nbsp;&nbsp;
                {#<div class="label label-primary pull-right">[{{ ALIAS }}]</div>&nbsp;&nbsp;#}


                <input type="text" class="form-control" id="list[{{ ALIAS }}][title]" name="list[{{ ALIAS }}][title]" value="{{ list.title }}" placeholder="List title" value="_TITLE_" required />
                {#<input type="text" class="form-control" id="list[{{ ALIAS }}][description]" name="list[{{ ALIAS }}][description]"  value="{{ list.description }}" placeholder="List short description" required  />#}
            </h3>
        </div>
        <div class="panel-body">
            <div class="col col-lg-12">

                <div class="row">
                <div class="col-lg-4">
                <div class="form-group">
                    <label class="checkbox-inline">
                        <input type="checkbox" value="1" {{ list.multiselect?'checked' }}  id="list[{{ ALIAS }}][multiselect]" name="list[{{ ALIAS }}][multiselect]"  />
                        <b>Allow multi select</b>
                    </label>
                </div>

                <div class="form-group">
                    <label class="checkbox-inline">
                        <input type="checkbox" value="1"  id="list[{{ ALIAS }}][edit_tab]"  {{ list.edit_tab?'checked' }} name="list[{{ ALIAS }}][edit_tab]"  />
                        <b>Use tabs for edit interface (otherwise a popup would be used)</b>
                    </label>
                </div>

                <div class="form-group">
                    <label class="checkbox-inline">
                        <input type="checkbox" value="1"  id="list[{{ ALIAS }}][buttons][single_edit]" {{ list.buttons.single_edit?'checked' }} name="list[{{ ALIAS }}][buttons][single_edit]"  />
                        <b>Show "edit" button for each row</b>
                    </label>
                </div>

                <div class="form-group">
                    <label class="checkbox-inline">
                        <input type="checkbox" value="1"  id="list[{{ ALIAS }}][buttons][single_delete]"  {{ list.buttons.single_delete?'checked' }} name="list[{{ ALIAS }}][buttons][single_delete]"  />
                        <b>Show "delete" button for each row</b>
                    </label>
                </div>

                <div class="form-group">
                    <label class="checkbox-inline">
                        <input type="checkbox" value="1"  id="list[{{ ALIAS }}][buttons][mass_delete]"  {{ list.buttons.mass_delete?'checked' }} name="list[{{ ALIAS }}][buttons][mass_delete]"  />
                        <b>Show "Bulk delete" button</b>
                    </label>
                </div>

                <div class="form-group">
                    <label class="checkbox-inline">
                        <input type="checkbox" value="1"  id="list[{{ ALIAS }}][buttons][customize_columns]" {{ list.list.customize_columns?'checked' }}name="list[{{ ALIAS }}][buttons][customize_columns]"  />
                        <b>Allow show/hide columns</b>
                    </label>
                </div>
                </div>
                <div class="col-lg-8">
                    <h3>Default sort options</h3>
                    <div id="list_sorts_{{ ALIAS }}">
                        {% if list.sort %}
                            {%  set NUM =  0 %}
                            {%  for sort_column,sort_order in list.sort %}
                                {% include 'crud::wizard/blocks/list_sort_row.twig' %}
                                {%  set NUM=(NUM+1)  %}
                            {% endfor %}
                        {% endif %}
                    </div>
                    <a href="#" class="btn btn-primary"  data-click="crud_action"  data-action="wizard_add_list_col" data-skip_arr="1" data-fragment="sort_tpl_{{ ALIAS }}" data-container="list_sorts_{{ ALIAS }}"><i class="fa fa-plus"></i> Add sort option</a>

                    <hr />
                    <div data-rel="is_tree" {{ model.tree?'':'style="display:none;"' }}>
                        <label>
                            List type
                            <select name="list[{{ ALIAS }}][list_type]"  class="form-control default_select" style="width:250px;">
                                {% for op_val, op_text in wizard.getAvailableTreeLists() %}
                                    <option value="{{ op_val }}" {{ list.list_type==op_val?'selected' }}>{{ op_text }}</option>
                                {% endfor %}
                            </select>
                        </label>
                    </div>

                </div>
                </div>

                <div class="hr-line-dashed"></div>
                <h3>Columns</h3>

                    <div id="list_cols_{{ ALIAS }}" data-rel="list_cols">
                        {%  if list.list %}
                            {%  set NUM =  0 %}
                            {%  for column in list.list %}
                                {% include 'crud::wizard/blocks/list_column.twig' %}
                                {%  set NUM=(NUM+1)  %}
                            {% endfor %}
                        {% endif %}
                    </div>
                    <a href="#" class="btn btn-success"  data-click="crud_action"  data-action="wizard_add_list_col" data-skip_arr="1" data-fragment="col_tpl_{{ ALIAS }}" data-container="list_cols_{{ ALIAS }}"><i class="fa fa-plus"></i> Add column</a>

                <hr>
                <h3>List actions</h3>

                <div id="list_actions_{{ ALIAS }}">
                    {%  for action in list.list_actions %}
                        {%  set NUM=loop.index  %}
                        {% include 'crud::wizard/blocks/list_action' %}
                    {% endfor %}
                </div>
                <a href="#" class="btn btn-primary"  data-click="crud_action"  data-action="wizard_add_list_col" data-skip_arr="1" data-fragment="action_tpl_{{ ALIAS }}" data-container="list_actions_{{ ALIAS }}"><i class="fa fa-plus"></i> Add action</a>

                <hr>

                <div class="col-md-1"><h3>Form</h3></div>
                <div class="col-md-3 col-md-offset-1" style="padding-top: 20px;">
                Add tab {{ wiz_macros.help('Config/Form#tabbed_form_definition') }}<input type="text" style="display:inline; width:150px;" />
                <a href="#" class="btn btn-success"  data-click="crud_action" data-rel="{{ ALIAS }}" data-action="wizard_add_form_tab" ><i class="fa fa-plus"></i> add</a>
                </div>
                <br clear="all" />
                <div class="col-md-4">
                    <h5>Form fields</h5>
                    <div id="list_form_{{ ALIAS }}" style="background-color:lightgrey; margin-bottom: 20px;"  data-rel="fields_form" data-list="{{ ALIAS }}"  class="list-group">
                        {% set used_fields = [] %}
                        {%  if not list.form[0] %}
                            {%  for tab_alias, tab in list.form %}
                                {% set fields = tab.fields %}

                                {%  include  'crud::wizard/blocks/fields/tab' %}
                                {%  for f  in fields %}
                                    {% set used_fields = used_fields|merge([f]) %}
                                    {% set fld = model.fields[f]  %}
                                    {%  include  'crud::wizard/blocks/fields/field_stub' %}
                                {% endfor %}
                            {% endfor %}

                        {%  else  %}

                            {%  for f in list.form %}
                                {% set used_fields = used_fields|merge([f]) %}
                                {% set fld = model.fields[f]  %}
                                {%  include  'crud::wizard/blocks/fields/field_stub' %}
                            {% endfor %}

                        {% endif %}

                        {%  if not used_fields|length %}
                            <b class="ph">Drag form fields here &larr;</b>
                        {% endif %}

                    </div>
                </div>
                <div class="col-md-4 col-offset-1">
                    <h5>Available fields (drag'n'drop to form fields)</h5>
                    <div id="list_fields_{{ ALIAS }}" data-rel="fields_stack" data-list="{{ ALIAS }}"  class="list-group">
                        {%  for f, fld in model.fields %}
                            {% if f != 'id' and not (f in used_fields) %}
                                {% set fld = model.fields[f]  %}
                                {%  include  'crud::wizard/blocks/fields/field_stub' %}
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>

                <hr />




                {#<h3>Filter fields</h3>#}
                {#<table class="table table-bordered table-striped"  id="{{ ALIAS }}f_container"  style="max-width: 1200px">#}
                    {#{% for f in wizard.getTableColumns(table) %}#}
                        {#{% if f != 'id' %}#}
                            {#<tr data-rel="{{ f }}">#}
                                {#<td style="width: 200px;"><b>{{ f }}</b></td>#}
                                {#<td style="width: 250px;"><label>#}
                                        {#<select name="filters[{{ ALIAS }}][{{ f }}][type]" class="form-control default_select ftype" data-rel="{{ f }}"   data-change="crud_action" data-list="{{ ALIAS }}" data-action="wizard_add_filter_field"  style="display:inline; width:250px;"  >#}
                                            {#<option value="">Choose field type</option>#}
                                            {#{% for k,v in wizard.getAvailableFilterTypes(f) %}#}
                                                {#<option value="{{ k }}">{{ v }}</option>#}
                                            {#{% endfor %}#}
                                        {#</select>#}
                                    {#</label></td>#}
                                {#<td id="{{ ALIAS }}_f_container_{{ f }}"></td>#}
                                {#<td style="width: 80px;"><div id="{{ ALIAS }}_f_cancel_{{ f }}" style="display: none"><a href="#" data-click="crud_action" data-field="{{ f }}" data-list="{{ ALIAS }}" data-action="wizard_remove_filter_field" data-confirm="Remove this filter field?" class="label label-danger">#}
                                            {#<i class="fa fa-trash-o"></i> Cancel</a></div></td>#}
                            {#</tr>#}
                        {#{% endif %}#}
                    {#{% endfor %}#}
                {#</table>#}

            </div>
        </div>

        {%  set NUM = "[NUM]" %}
        {% include 'crud::wizard/blocks/list_column' %}
        {% include 'crud::wizard/blocks/list_action' %}
        {% include 'crud::wizard/blocks/list_sort_row' %}

    </div>
{%  if not list %}
</div>
{% endif %}