{# action#}
<li  {% if action %} data-added="1" {% else %} style="display: none" id="action_tpl_{{ ALIAS }}" {% endif %} >
<div class="form-inline">
        <div class="form-group">
            <label>
            Action title * <input type="text" required class="form-control" value="{{ action.title }}" name="lists[{{ ALIAS }}][actions][{{ NUM }}][title]">
            </label>
        </div>
        <div class="form-group">
            <label>
                Model method *  <input type="text" required class="form-control" value="{{ action.command }}"  name="lists[{{ ALIAS }}][actions][{{ NUM }}][command]">
            </label>
        </div>

    <div class="form-group">
        <label>
            Icon class <input type="text" class="form-control" value="{{ action.class }}"  name="lists[{{ ALIAS }}][actions][{{ NUM }}][class]">
        </label>
    </div>
    <div class="form-group" style="padding-top: 10px;">
    <a href="#" style="" data-click="crud_action" data-action="wizard_remove_parent" data-parent="li" data-confirm="Remove this action?"  class="label label-danger">
        <i class="fa fa-trash-o"></i> Remove</a>
    </div>
</div>
</li>
{# END action#}