{# action#}
<div class="panel panel-default"  {% if action %} style="padding:5px;" data-added="1" {% else %} style="display: none; padding:5px;"  id="action_tpl_{{ ALIAS }}" {% endif %} >
<div class="form-inline" style="display:flex; align-items:top">
        <div class="form-group">
            <label>
            Action title * <input type="text" required class="form-control" value="{{ action.title }}" name="list[{{ ALIAS }}][list_actions][{{ NUM }}][title]">
            </label>
        </div>
        <div class="form-group">
            <label>
                Model method *  <input type="text"  class="form-control" value="{{ action.command }}"  name="list[{{ ALIAS }}][list_actions][{{ NUM }}][command]">
            </label>
        </div>

    <div class="form-group">
        <label>
            Or Crud Event *  <input type="text"  class="form-control" value="{{ action.event }}"  name="list[{{ ALIAS }}][list_actions][{{ NUM }}][event]">
        </label>
    </div>

    <div class="form-group">
        <label>
            Or Modal URL *  <input type="text"  class="form-control" value="{{ action.popup }}"  name="list[{{ ALIAS }}][list_actions][{{ NUM }}][popup]">
        </label>
        <label>
            Popup ID:<input type="text"  class="form-control" value="{{ action.popup_id }}"  name="list[{{ ALIAS }}][list_actions][{{ NUM }}][popup_id]">
        </label>
    </div>

    <div class="form-group">
        <label>
            Icon class <input type="text" class="form-control" value="{{ action.class }}"  name="list[{{ ALIAS }}][list_actions][{{ NUM }}][class]">
        </label>
        <label>
            Button class <input type="text" class="form-control" value="{{ action.btn_class }}"  name="list[{{ ALIAS }}][list_actions][{{ NUM }}][btn_class]">
        </label>
    </div>

    <div class="form-group">
        <label>
            Confirm <input type="text"  class="form-control" value="{{ action.confirm }}" name="list[{{ ALIAS }}][list_actions][{{ NUM }}][confirm]">
        </label>

        <label>
            Appears if column <input type="text"  class="form-control" value="{{ action.ifcolumn }}" name="list[{{ ALIAS }}][list_actions][{{ NUM }}][ifcolumn]">
            is not empty
        </label>
    </div>
    <div class="form-group">
        <label class="checkbox-inline">
            <input type="checkbox" value="1" {{ action.single?'checked' }}   name="list[{{ ALIAS }}][list_actions][{{ NUM }}][single]"  />
            Single rows
        </label>

        <label class="checkbox-inline">
            <input type="checkbox" value="1" {{ action.mass?'checked' }}  name="list[{{ ALIAS }}][list_actions][{{ NUM }}][mass]"  />
            Mass actions
        </label>


    </div>
    <div class="form-group" style="padding-top: 10px;">
    <a href="#" style="" data-click="crud_action" data-action="wizard_remove_parent" data-parent="div.panel" data-confirm="Remove this action?"  class="label label-danger">
        <i class="fa fa-trash-o"></i> Remove</a>
    </div>
</div>
</div>
{# END action#}