<div class="panel panel-default"  {% if sort_column %} style="padding:5px;" data-added="1" {% else %} style="display: none; padding:5px;"  id="sort_tpl_{{ ALIAS }}" {% endif %} >
<div class="form-inline" style="display:flex; align-items:top">
    <div class="col-lg-3">
        <label>
        Sort column
            <select  class="form-control default_select"  name="list[{{ ALIAS }}][sort][{{ NUM }}][column]" required>
                <option value="">Choose column</option>
                {% for f in wizard.getTableColumns(table) %}
                    <option value="{{ f }}" {{ f == sort_column?'selected' }}>{{ f }}</option>
                {% endfor %}
            </select>
        </label>
    </div>
    <div class="col-lg-5 col-offset-1">
        <label>
          Direction
            <select class="form-control default_select" name="list[{{ ALIAS }}][sort][{{ NUM }}][order]" >

                <option value="asc" {{ sort_order == "asc"?'selected' }}>Ascending</option>
                <option value="desc" {{ sort_order == "desc"?'selected' }}>Descending</option>
            </select>
        </label>
    </div>
</div>
</div>