{# RELATIONS#}




<div data-relation="{{ constant('\\Skvn\\Crud\\CrudConfig::RELATION_HAS_MANY') }}" id="tpl_rel_{{ constant('\\Skvn\\Crud\\CrudConfig::RELATION_HAS_MANY') }}" style="display: none">
    <input type="hidden" name="relations[[NUM]][type]" data-attr="type" value="{{ constant('\\Skvn\\Crud\\CrudConfig::RELATION_HAS_MANY') }}" />
    <table class="table table-condensed table-striped">
        <tr>
            {% include 'crud::wizard/blocks/choose_relation_title' %}
            {% include 'crud::wizard/blocks/choose_relation_name' %}
            {% include 'crud::wizard/blocks/choose_relation_model' %}
            {% include 'crud::wizard/blocks/choose_relation_editable' %}
            <td></td>
            <div class="label label-default">Has many</div>
        </tr>
    </table>
</div>




<div class="form-inline" data-relation="{{ constant('\\Skvn\\Crud\\CrudConfig::RELATION_HAS_ONE') }}" id="tpl_rel_{{ constant('\\Skvn\\Crud\\CrudConfig::RELATION_HAS_ONE') }}" style="display: none" >
    <input type="hidden" name="relations[[NUM]][type]" data-attr="type" value="{{ constant('\\Skvn\\Crud\\CrudConfig::RELATION_HAS_ONE') }}" />
    <table class="table table-condensed table-striped">
        <tr>
            {% include 'crud::wizard/blocks/choose_relation_title' %}
            {% include 'crud::wizard/blocks/choose_relation_name' %}
            {% include 'crud::wizard/blocks/choose_relation_model' %}
            {% include 'crud::wizard/blocks/choose_relation_model_ref_col' %}
            {% include 'crud::wizard/blocks/choose_relation_editable' %}
            <td></td>
            <div class="label label-default">Has one</div>
        </tr>
    </table>

</div>

<div class="form-inline" data-relation="{{ constant('\\Skvn\\Crud\\CrudConfig::RELATION_BELONGS_TO') }}" id="tpl_rel_{{ constant('\\Skvn\\Crud\\CrudConfig::RELATION_BELONGS_TO') }}" style="display: none" >
    <input type="hidden" name="relations[[NUM]][type]" data-attr="type" value="{{ constant('\\Skvn\\Crud\\CrudConfig::RELATION_BELONGS_TO') }}" />
    <table class="table table-condensed table-striped">
        <tr>
            {% include 'crud::wizard/blocks/choose_relation_title' %}
            {% include 'crud::wizard/blocks/choose_relation_name' %}
            {% include 'crud::wizard/blocks/choose_relation_model' %}
            <td style="width: 200px;">
                <select class="form-control" data-attr="local_key" name="relations[[NUM]][local_key]" >
                    <option value="">Choose Local key</option>
                {% for f in wizard.getTableColumns(table) %}
                {% if f != 'id' %}
                    <option value="{{ f }}">{{ f }}</option>
                {% endif %}
                {% endfor %}
                </select>
            </td>
            {% include 'crud::wizard/blocks/choose_relation_editable' %}
            <td></td>
            <div class="label  label-default">Belongs to</div>
        </tr>
    </table>



</div>

<div class="form-inline" data-relation="{{ constant('\\Skvn\\Crud\\CrudConfig::RELATION_BELONGS_TO_MANY') }}" id="tpl_rel_{{ constant('\\Skvn\\Crud\\CrudConfig::RELATION_BELONGS_TO_MANY') }}" style="display: none" >
    <input type="hidden" name="relations[[NUM]][type]" data-attr="type" value="{{ constant('\\Skvn\\Crud\\CrudConfig::RELATION_BELONGS_TO_MANY') }}" />
    <table class="table table-condensed table-striped">
        <tr>
            {% include 'crud::wizard/blocks/choose_relation_title' %}
            {% include 'crud::wizard/blocks/choose_relation_name' %}
            {% include 'crud::wizard/blocks/choose_relation_model' %}
            {% include 'crud::wizard/blocks/choose_relation_editable' %}
            <td></td>
        </tr>
    <div class="label label-default">Belongs to many</div>
    </table>

</div>
{# END RELATIONS#}