{% macro table(list) %}

    {%  if  list.getParam('edit_tab') %}
        <div class="tabs-container" data-tabs_container="{{ list.model.classViewName }}" data-scope="{{ list.model.scope }}">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#tab-{{ list.model.classViewName }}_{{ list.model.scope }}" data-id="list"> <i class="fa fa-list"></i> {{ trans('crud::messages.list') }}</a></li>
                <li style="display: none" data-edit_tab_tpl="1"><div class="sk-spinner sk-spinner-pulse"></div><a style="display: none" data-toggle="tab"  data-id="" href="#tab-{{ list.model.classViewName }}_{{ list.model.scope }}"> <i class="fa fa-edit"></i>[ID]&nbsp;&nbsp;&nbsp;<span class="text-danger" data-confirm=" {{ trans('crud::messages.close') }}?" data-click="crud_event" data-event="crud.cancel_edit" data-rel="[REL]" title=" {{ trans('crud::messages.close') }}" style="cursor:pointer"><i class="fa fa-times"></i></span></a></li>


            </ul>

            <div class="tab-content">
                <div id="tab-{{ list.model.classViewName }}_{{ list.model.scope }}" class="tab-pane active">
                    <div class="panel-body">
                        {% include "widgets/blocks/tbl_head.twig"|model_view(list.model) %}
                        {% include "widgets/blocks/tbl_table.twig"|model_view(list.model) %}
                        {% include "widgets/blocks/tbl_foot.twig"|model_view(list.model) %}

                    </div>
                </div>


            </div>
        </div>
    {% else %}

        {% include "widgets/blocks/tbl_head.twig"|model_view(list.model) %}
        {% include "widgets/blocks/tbl_table.twig"|model_view(list.model) %}
        {% include "widgets/blocks/tbl_foot.twig"|model_view(list.model) %}
    {% endif  %}
{% endmacro %}

{% macro filters(list) %}
    {% if list.hasFilter() %}
        <div class="row">
                <div class="panel panel-default">
                    <div class="panel-heading"><a data-toggle="collapse" href="#filter_panel_{{ list.ref_id }}"><i class="icon fa fa-filter"></i> {{ trans('crud::messages.filter_list') }}</a></div>
                    <div class="panel-body collapse" id="filter_panel_{{ list.ref_id }}">
                        <div class="col-lg-12">
                        <form id="crud_filter_form" data-crud_model="{{ list.modelClass }}" data-crud_scope="{{ list.scope }}">
                            <input type="hidden" name="_token" value="{{ csrf_token() }}" data-default="{{ csrf_token() }}"/>
                            {% include "widgets/blocks/tbl_filter.twig"|model_view(list.model) %}
                            <div class="modal-footer">
                                <button type="reset"  class="btn btn-default crud_reset_filter">{{ trans('crud::messages.reset_filter') }}</button>
                                <button type="submit" class="btn btn-success">{{ trans('crud::messages.apply_filter') }}</button>
                                {% include 'crud::blocks/progress_bar.twig' %}
                            </div>
                        </form>
                        </div>
                    </div>
                </div>
        </div>
    {% endif %}
{% endmacro %}

{% macro tree(crudObj, scope) %}
    {% if scope %}
        {{ crudObj.setScope(scope) }}
    {% endif %}

    {%  if  crudObj.getList().getParam('edit_tab') %}
        <div class="tabs-container" data-tabs_container="{{ crudObj.classViewName }}" data-scope="{{ crudObj.scope }}">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#tab-{{ crudObj.classViewName }}_{{ crudObj.scope }}"> <i class="fa fa-list"></i></a></li>
                <li style="display: none" data-edit_tab_tpl="1"><div class="sk-spinner sk-spinner-pulse"></div><a style="display: none" data-toggle="tab"  href="#tab-{{ crudObj.classViewName }}_{{ crudObj.scope }}"> <i class="fa fa-edit"></i>[ID]&nbsp;&nbsp;&nbsp;<span class="text-danger" data-confirm=" {{ trans('crud::messages.close') }}?" data-click="crud_event" data-event="crud.cancel_edit" data-rel="[REL]" title=" {{ trans('crud::messages.close') }}" style="cursor:pointer"><i class="fa fa-times"></i></span></a></li>


            </ul>

            <div class="tab-content">
                <div id="tab-{{ crudObj.classViewName }}_{{ crudObj.scope }}" class="tab-pane active">
                    <div class="panel-body">
                        {% include "widgets/blocks/tree.twig"|model_view(crudObj) %}
                    </div>
                </div>


            </div>
        </div>
    {% else %}
        {% include "widgets/blocks/tree.twig"|model_view(crudObj) %}
    {% endif  %}
{% endmacro %}