<form action="{{ route('crud_update',{'model':crudObj.classViewName,'id':id}) }}" method="post" enctype="multipart/form-data" role="form"  data-crud_scope="{{ crudObj.scope }}" data-crud_model="{{ crudObj.classViewName }}" data-crud_id="{{ id }}" data-rel="{{ crudObj.view_ref }}" class="">
    <input type="hidden" id="tree_action" name="tree_action" value=""/>
    <input type="hidden" name="scope" value="{{ crudObj.scope }}" />
    <input type="hidden" name="_token" value="{{ csrf_token() }}"/>
    {% for f in crudObj.getHiddenFields() %}
        <input type="hidden" name="{{ f }}" value="{{ crudObj.getAttribute(f) }}" />
    {% endfor %}

    {%  include 'crud::crud/fields.twig' %}
    {%  include 'crud::crud/form_buttons.twig' %}





</form>