<div class="col-md-12" >
    <label for="{{ input.name }}_chk">
        <input class=" crud_checkbox" id="{{ input.name }}_chk" data-name="{{ input.name }}"    type="checkbox"  {{ input.getValue()>0?'checked':''}} />
        <input type="hidden" name="{{ input.name }}" id="_{{  crudObj.id }}"  value="{{ input.getValue() }}" />
        {{ input.config.title }}
    </label>
    <div class="hr-line-dashed"></div>
</div>

