<div class="date input-daterange input-group"   data-date-format="{{ input.config.jsformat }}">
    <input type="text" class="input-sm form-control" name="{{ input.name }}_from" value="{{ input.getValueFrom() }}"/>
    <span class="input-group-addon">по</span>
    <input type="text" class="input-sm form-control" name="{{ input.name }}_to" value="{{ input.getValueTo()}}" />
</div>