<div class="date input-daterange input-group"   data-date-format="{{ input.config.jsformat }}">
    <input type="text" class="input-sm form-control" name="{{ input.getFromFieldName() }}" value="{{ input.getValueFrom() }}" data-default="{{ input.getDefaultFrom() }}"/>
    <span class="input-group-addon">{{ trans('crud::messages.to') }}</span>
    <input type="text" class="input-sm form-control" name="{{ input.getToFieldName() }}" value="{{ input.getValueTo()}}"  data-default="{{ input.getDefaultTo() }}" />
</div>