{%  if input.config.type == 'multi_file' %}
    {% include 'crud::crud/fields/'~input.config.type~'.twig' %}
{%  else  %}
<div class="form-group " >

    <label class="col-md-{{ COL_WIDTH }} control-label" for="{{ input.name }}">{{ input.config.title|raw }} {{ input.config.required ? '<span class="asterix"> * </span>' }}
        {% if input.config.hint %}
        {{ input.config.hint|tooltip(input.config.hint_default) }}
        {% endif %}
    </label>
    <div class="col-md-{{ COL_WIDTH }}">
     {% include 'crud::crud/fields/'~input.config.type~'.twig' %}
    </div>

</div>

{% endif %}