<div class="col-md-12" id="file_container_{{ input.name }}" style="padding-left: 20px">


    {% for fileObj in input.getExisting() %}

   <div class="row">
   <div class="col-md-6">
       <div class="col-md-4">Файл:
                        <input class="form-control"  name="{{ input.name }}[{{ fileObj.id }}]" type="file">
       </div>
       <div class="col-md-4">
                   Название:<input class="form-control"   name="{{ input.name }}_title[{{ fileObj.id }}]" value="{{ fileObj.title }}"  type="text">
       </div>

   </div>
        <div class="col-md-6" style="text-align: right; height: 52px;">
            <a class="badge badge-primary" href="{{ fileObj.getAttribute('download_link') }}"><i class="fa fa-paperclip"></i> {{ fileObj.getAttribute('file_name') }} ({{ fileObj.getAttribute('file_size')|readable_filesize}})</a><br />
            <a class="badge badge-danger crud_command" href="/admin/crud/{{ crudObj.config.get('class_name') }}/{{ crudObj.id }}/command/delete_single_attach" data-confirm="Действительно удалить файл?" data-args='{"field":"{{ input.name }}","id":"{{ fileObj.id }}" }'  data-callback="$self.parent().parent().remove();"><i class="fa fa-times-circle"></i> Удалить</a>
        </div>
    </div>
    {% endfor %}

</div>
<div class="col-md-12">
    <div style="padding-left: 30px; padding-top: 20px;">
        <a href="#" data-clone_fragment="add_row_tpl_{{ input.name }}" data-clone_container="file_container_{{ input.name }}"><i class="fa fa-plus"></i> Добавить файл</a>
    </div>
</div>
<div class="row show-grid"  id="add_row_tpl_{{ input.name }}" style="display: none">
    <div class="col-md-6">
        <div class="col-md-4">Файл:<input class="form-control new_file" disabled   name="{{ input.name }}[]"  type="file">
        </div>
        <div class="col-md-4">Название:<input class="form-control" disabled  name="{{ input.name }}_title[]"  type="text">
        </div>
    </div>