{% include 'crud::crud/fields/label.twig' %}
<div class="col-md-{{ COL_WIDTH }}" style="margin-top: 20px;">
    <div class="tabs-container" id="tab-cont-{{ input.getUniqueId() }}">
        <ul class="nav nav-tabs" id="tab-tabs-{{ input.getUniqueId() }}">
            <li class="active"><a data-toggle="tab" href="#tab-1-{{ input.getUniqueId() }}"> {{ input.config.title|raw }}</a></li>
            <li class=""><a data-toggle="tab" href="#tab-2-{{ input.getUniqueId() }}"> Добавить файлы</a></li>

        </ul>
        <div class="tab-content" id="tabc-{{ input.getUniqueId() }}">
            <div id="tab-1-{{ input.getUniqueId() }}" class="tab-pane active">
                <div class="panel-body">
                {% if input.getExisting()|length %}
                    <table class="table table-bordered table-stripped">
                        <thead>
                        <tr>
                            <th width="20%">{{ trans('crud::messages.file') }}</th>
                            <th width="30%">{{ trans('crud::messages.change') }}</th>
                            <th>{{ trans('crud::messages.title') }}</th>
                            <th width="50">{{ trans('crud::messages.delete') }}</th>
                        </thead>
                        <tbody>
                        {%  for fileObj in  input.getExisting() %}
                            <tr >
                                <td>
                                    <a class="badge badge-primary" href="{{ fileObj.getAttribute('download_link') }}"><i class="fa fa-paperclip"></i> {{ fileObj.getAttribute('file_name') }} ({{ fileObj.getAttribute('file_size')|readable_filesize}})</a>
                                </td>
                                <td>
                                    <input class="form-control"  name="{{ input.name }}[{{ fileObj.id }}]" type="file">
                                </td>
                                <td>
                                    <input class="form-control"  data-title_for="{{ input.name }}[{{ fileObj.id }}]" name="{{ input.name }}_title[{{ fileObj.id }}]" value="{{ fileObj.title }}"  type="text">
                                </td>
                                <td>
                                    <a class="badge badge-danger" href="delete_single_attach" data-model="{{ input.classViewName }}" data-id="{{ input.model.getKey() }}" data-confirm="{{ trans('crud::messages.really_delete') }} {{ trans('crud::messages.file') }}?" data-args='{"field":"{{ input.name }}","delete_attach_id":"{{ fileObj.id }}" }'  data-click="crud_action" data-action="crud_command" data-callback="elem.parent().parent().remove();"><i class="fa fa-times-circle"></i> {{ trans('crud::messages.delete') }}</a>
                                </td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>

                {%  else  %}
                    {{ trans('crud::messages.no_files') }}.
                {% endif %}
            </div>
          </div>


            <div id="tab-2-{{ input.getUniqueId() }}" class="tab-pane">
                <div class="panel-body">
                    <table class="table table-bordered table-stripped">
                        <thead>
                        <tr>
                            <th width="30%">Файл</th>
                            <th>Название</th>
                        </thead>
                        <tbody  id="file_container_{{ input.getUniqueId() }}">
                        {% for i in 1..5 %}
                        <tr data-added="1">
                            <td>
                                <input class="form-control new_file"   name="{{ input.name }}[-{{ i }}]"  type="file">
                            </td>
                            <td>
                                <input class="form-control" data-title_for="{{ input.name }}[-{{ i }}]"  name="{{ input.name }}_title[-{{ i }}]"  type="text">
                            </td>
                        </tr>
                        {% endfor %}
                        <tr style="display: none" id="add_row_tpl_{{ input.getUniqueId() }}">
                            <td>
                                <input class="form-control new_file" disabled   name="{{ input.name }}[]"  type="file">
                            </td>
                            <td>
                                <input class="form-control" disabled  name="{{ input.name }}_title[]"  type="text">
                            </td>
                        </tr>
                        <tfoot>
                        <tr>
                            <td colspan="2" class="text-right">
                                <a href="#" class="btn btn-primary" data-click="crud_action" data-action="clone_fragment" data-fragment="add_row_tpl_{{ input.getUniqueId() }}" data-container="file_container_{{ input. getUniqueId() }}"><i class="fa fa-plus"></i> Добавить файл</a>
                            </td>
                        </tr>
                        </tfoot>

                        </tbody>
                    </table>
                </div>
            </div>

     </div>
    </div>
</div>
