{% include 'crud::crud/fields/label.twig' %}
<select  data-widget="crud_select" data-default="{{ input.config.default }}" data-grouped="{{ input.isGrouped?'1':'0' }}" class="form-control" data-placeholder="-- Выберите"  {{ input.config.required ? 'required' }} name="{{ input.field }}{{input.config.multiple?'[]'}}" {{ input.config.multiple ? 'multiple' }} >

{% if input.isGrouped %}
    {% for gr in input.getOptions() %}
        <optgroup label="{{ gr.title }}">
            {% for op in gr.options %}
                <option value="{{ op.value }}" data-group="{{ gr.title }}" {{ op.selected ? 'selected' }}>{{ op.text }}</option>
            {% endfor %}
        </optgroup>
       {% endfor %}

{% else %}

    {% for op in input.getOptions() %}
        <option value="{{ op.value }}" {{ op.selected ? 'selected' }}>{{ op.text }}</option>
    {% endfor %}

{% endif %}
</select>
