{% include 'crud::crud/fields/label.twig' %}
<div data-widget="crud_tree_control" data-name="{{ input.name }}" data-model_id="{{ crudObj.id }}" data-model="{{ crudObj.classViewName }}" data-rel_form="{{ crudObj.view_ref }}" id="{{ input.getUniqueId()}}"></div>
