<div class="form-inline" data-relation="{{ constant('\\Skvn\\Crud\\Models\\CrudModel::RELATION_BELONGS_TO') }}"  {% if ADD_REL %} data-added="1" {%  else  %} id="tpl_rel_{{ constant('\\Skvn\\Crud\\Models\\CrudModel::RELATION_BELONGS_TO') }}" style="display: none" {% endif %}>
<input type="hidden" name="relations[{{NUM}}][type]" data-attr="type" value="{{ constant('\\Skvn\\Crud\\Models\\CrudModel::RELATION_BELONGS_TO') }}" />
<table class="table table-condensed table-striped">
    <tr>
        {% include 'crud::wizard/blocks/relations/choose_relation_title' %}
        {% include 'crud::wizard/blocks/relations/choose_relation_name' %}
        {% include 'crud::wizard/blocks/relations/choose_relation_model' %}
        <td style="width: 200px;">
            <label>Local key
            <select class="form-control default_select" data-attr="local_key" required name="relations[{{NUM}}][local_key]" >
                <option value="">Choose Local key</option>
                {% for f in wizard.getTableColumns(table) %}
                    {% if f != 'id' %}
                        <option value="{{ f }}" {{ f == rel.field ?'selected' }}>{{ f }}</option>
                    {% endif %}
                {% endfor %}
            </select>
            </label>
        </td>
        <td></td>
        <div class="label  label-default">Belongs to</div>&nbsp;&nbsp;
        <a href="#" data-click="crud_action" data-action="wizard_remove_relation" data-confirm="Remove this relation?" class="label label-danger">
            <i class="fa fa-trash-o"></i> Remove</a>
    </tr>
    <tr>{% set multiple = false %}
        {% include 'crud::wizard/blocks/relations/choose_relation_editable' %}
    </tr>
</table>
</div>