<td style="width:220px;">
<label>Model
<select class="form-control default_select" data-attr="model" data-change="crud_action" data-action="wizard_change_relation_model" id="relations_{{NUM}}_model" name="relations[{{NUM}}][model]" required  >
    <option value="">Choose relation model</option>
    {% for m in wizard.getAvailableModels() %}
            <option value="{{ m|snake_case }}" {{ rel.model == snake_case(m) ? 'selected' }}>{{ m }}</option>
    {% endfor %}
</select>
</label>
</td>