{% import "crud::wizard/macro.twig" as wiz_macros%}
<td colspan="5" >
    <div class="col col-xs-1">
    <div class="checkbox">
        <label>
            <input type="checkbox"  value="1" name="relations[{{NUM}}][editable]" {{ rel.editable?'checked' }} onchange="$('#editable_{{NUM}}').toggleClass('hide');"  data-target="#editable_{{NUM}}" > Editable
        </label>
    </div>
   </div>
    <div id="editable_{{NUM}}" {{  rel.editable?'':'class="hide"' }}>
    <div class="col col-xs-2">
    <select name="relations[{{NUM}}][form_field]" class="form-control default_select">
        <option value="">Choose field type</option>
        {% for k,v in wizard.getAvailableRelationFieldTypes(multiple) %}
            <option value="{{ k }}" {{ rel.type==k?'selected' }}>{{ v }}</option>
        {% endfor %}
    </select>

    </div>
    <div class="col col-xs-4">
        <label>Data provider method {{ wiz_macros.help('Config/Relations#options_providers') }}</label>
        <select class="form-control default_select" name="relations[{{NUM}}][find]" data-rel="dp_method"  >
        <option value="">No method</option>
            {%  if rel.model %}
            {%  for f in wizard.getAvailableSelectOptionsProviders(rel.model) %}
                <option value="{{ f.name }}" {{ f.name == rel.find?'selected' }}>{{ f.name }} ({{ f.description }})</option>
            {% endfor %}
            {% endif %}
        </select>


        <div class="checkbox">
            <label>
                <input type="checkbox" value="1" name="relations[{{NUM}}][required]" {{ rel.required?'checked' }}  > Required
            </label>
        </div>
    </div>
    </div>
</td>
