<div class="row">
    <div class="form-group">
        <div class="col col-xs-4">
        {% include 'crud::wizard/blocks/fields/field_title' %}
        </div>
        <div class="col col-xs-4">
        {% include 'crud::wizard/blocks/fields/field_hint' %}
        </div>
        <div class="col col-xs-2">
        {% include 'crud::wizard/blocks/fields/field_required' %}
        </div>
    </div>
</div>
<div class="row">
    <div class="col col-xs-6">
        <label> Data provider method
            <select class="form-control default_select" name="fields[{{ ALIAS }}][find]"  >
                <option value="">No method</option>
                {%  for f in wizard.getAvailableSelectOptionsProviders(model.name) %}
                    <option value="{{ f.name }}" {{ f.name == fld.find?'selected' }}>{{ f.name }} ({{ f.description }})</option>
                {% endfor %}
            </select>

        <span id="helpBlock" class="help-block">The name of the model method that provides edit options. See documentation for the details.</span>
        </label>
    </div>
    <div class="col col-xs-4">
        <label>Property name
            <input type="text" value="{{fld?fkey:ALIAS}}" data-change="crud_action" data-action="wizard_adjust_prop_name" name="fields[{{ ALIAS }}][property_name]" required />
        </label>
    </div>
</div>
