<div class="row">
<div class="form-group">
    <div class="col col-xs-4">
    {% include 'crud::wizard/blocks/fields/field_title' %}
    </div>
    <div class="col col-xs-4">
        {% include 'crud::wizard/blocks/fields/field_hint' %}
    </div>
    <div class="col col-xs-2">
            <label>
                Height <input type="number" value="{{ fld.height?fld.height:500 }}" step="1" name="fields[{{ ALIAS }}][height]" style="width: 50px;"                        >
            </label>
    </div>
    {#<div class="col col-xs-2">#}
        {#<div class="checkbox">#}
            {#<label>#}
                {#<input type="checkbox" value="1" name="fields[{{ ALIAS }}][editor]"  {{ fld.editor?'checked' }} data-toggle="collapse" data-target="#ed_type_{{ ALIAS }}" > WYSIWYG editor#}
            {#</label>#}
        {#</div>#}
    {#</div>#}
    <div class="col col-xs-2">
        {% include 'crud::wizard/blocks/fields/field_required' %}
    </div>
</div>
</div>

<div class="row">
    <div class="col col-xs-4">
    <div class="form-group">
        <label> Editor type
            <select class="form-control  default_select" name="fields[{{ ALIAS }}][editor_type]"  >
                {%  for e, title in wizard.getAvailableEditors() %}
                    <option value="{{ e }}" {{ fld.editor_type==e?'selected' }}>{{ title }}</option>
                {% endfor %}
            </select>
        </label>
    </div>
    </div>
</div>
